
 <div class="views">
    <!-- Your main view, should have "view-main" class -->
    <div class="view view-main">   

        <div class="pages">
            <div data-page="Career Details" class="page navbar-fixed">
               <div class="navbar">
                  <div class="navbar-inner">
                     <div class="left"><a  (click)="goBack()" class="back link"> <i class="icon icon-back"></i></a></div>
                     <div class="center fg-white">Career Details</div>
                     <div class="right">
                        <!-- Right link contains only icon - additional "icon-only" class-->
                        <a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
                     </div>
                  </div>
               </div>
               <div class="content-block">
                  <div class="page-content">
                     <div class="list-block">
                        <ul>
                           <li>
                              <!-- Smart select, will be opened in Popup -->
                              <a href="#" class="item-link smart-select" data-open-in="popup">
                                 <!-- select -->
                                 <select name="Occupation"  [(ngModel)]='careerDetail.occupation'>
                                        <option value="LOOKINGFORAJOB"> Looking for a job </option>
                                        <option value="NOTWORKING"> Not working </option>
                                        <option value="ACTORMODEL"> Actor/Model </option>
                                        <option value="ADVERTISINGPROFESSIONAL"> Advertising Professional </option>
                                        <option value="AGENT"> Agent</option>
                                        <option value="AIRHOSTESS"> Air Hostess</option>
                                        <option value="ANALYST"> Analyst</option>
                                        <option value="ARCHITECT"> Architect</option>
                                        <option value="BPOITES"> BPO/ITeS</option>
                                        <option value="BANKINGPROFESSIONAL"> Banking Professional</option>
                                        <option value="BEAUTICIAN"> Beautician</option>
                                        <option value="BUSINESSPERSON"> Businessperson</option>
                                        <option value="CHARTEREDACCOUNTANT"> Chartered accountant</option>
                                        <option value="CIVILSERVICES"> Civil Services ">IAS/ IFS/ IPS/ IRS)</option>
                                        <option value="CONSULTANT"> Consultant</option>
                                        <option value="CORPORATECOMMUNICATION"> Corporate Communication</option>
                                        <option value="CORPORATEPLANNINGPROFESSIONAL"> Corporate Planning Professional</option>
                                        <option value="CUSTOMERSERVICES"> Customer Services</option>
                                        <option value="CYBERNETWORKSECURITY"> Cyber / Network Security</option>
                                        <option value="DEFENCE"> Defence</option>
                                        <option value="DOCTOR"> Doctor</option>
                                        <option value="EDUCATIONPROFESSIONAL"> Education Professional</option>
                                        <option value="ENGINEERNONIT"> Engineer - Non IT</option>
                                        <option value="FARMING"> Farming</option>
                                        <option value="FASHIONDESIGNER"> Fashion Designer</option>
                                        <option value="FILMPROFESSIONAL"> Film Professional</option>
                                        <option value="FINANCIALSERVICESACCOUNTING"> Financial Services/Accounting</option>
                                        <option value="FITNESSPROFESSIONAL"> Fitness Professional</option>
                                        <option value="GOVTSERVICES"> Govt. Services</option>
                                        <option value="HRPROFESSIONAL"> HR Professional</option>
                                        <option value="HARDWARETELECOM"> Hardware/Telecom</option>
                                        <option value="HEALTHCAREPROFESSIONAL"> Healthcare Professional</option>
                                        <option value="HOTELSHOSPITALITYPROFESSIONAL"> Hotels/Hospitality Professional</option>
                                        <option value="INTERIORDESIGNER"> Interior Designer</option>
                                        <option value="JOURNALIST"> Journalist</option>
                                        <option value="LAWYERANDLEGALPROFESSIONAL"> Lawyer/Legal Professional</option>
                                        <option value="LOGISTICSSCMPROFESSIONAL"> Logistics/SCM Professional</option>
                                        <option value="MANAGER"> Manager</option>
                                        <option value="MARKETINGPROFESSIONAL"> Marketing Professional</option>
                                        <option value="MEDIAPROFESSIONAL"> Media Professional</option>
                                        <option value="MERCHANTNAVY"> Merchant Navy</option>
                                        <option value="NGOSOCIALSERVICES"> NGO/Social Services</option>
                                        <option value="NURSE">  Nurse</option>
                                        <option value="OFFICEADMIN">  Office Admin</option>
                                        <option value="OPERATORTECHNICIAN">  Operator/Technician</option>
                                        <option value="PHYSIOTHERAPIST">  Physiotherapist</option>
                                        <option value="PILOT">  Pilot</option>
                                        <option value="POLICE">  Police</option>
                                        <option value="PRIVATESECURITY">  Private Security</option>
                                        <option value="PRODUCTMANAGER">  Product manager</option>
                                        <option value="PROFESSORLECTURER">  Professor/Lecturer</option>
                                        <option value="PROGRAMMANAGER">  Program Manager</option>
                                        <option value="PROJECTMANAGERIT">  Project Manager - IT</option>
                                        <option value="PROJECTMANAGERNONI">  Project Manager - Non IT</option>
                                        <option value="PSYCHOLOGIST">  Psychologist</option>
                                        <option value="RESEARCHPROFESSIONAL">  Research Professional</option>
                                        <option value="SALESPROFESSIONAL">  Sales Professional</option>
                                        <option value="SCIENTIST">  Scientist</option>
                                        <option value="SECRETARYFRONTOFFICE">  Secretary/Front Office</option>
                                        <option value="SECURITYPROFESSIONAL">  Security Professional</option>
                                        <option value="SELFEMPLOYED">  Self Employed</option>
                                        <option value="SOFTWAREPROFESSIONAL">  Software Professional</option>
                                        <option value="SPORTSPERSON">  Sportsperson</option>
                                        <option value="STUDENT">  Student</option>
                                        <option value="TEACHER">  Teacher</option>
                                        <option value="TOPMANAGEMENT">  Top Management ">CXO M.D. etc.)</option>
                                        <option value="UIUXDESIGNER">  UI/UX designer</option>
                                        <option value="WEBGRAPHIDESIGN">  Web/Graphic Design</option>
                                        <option value="OTHERS">  Others");
                                 </select>
                                 <div class="item-content">
                                    <div class="item-inner">
                                       <!-- Select label -->
                                       <div class="item-title">Occupation</div>
                                       <!-- Selected value, not required -->
                                       <div class="item-after">{{careerDetail.occupation | titlecase}}</div>
                                    </div>
                                 </div>
                              </a>
                           </li>
                           <li>
                              <!-- Smart select, will be opened in Popup -->
                              <a href="#" class="item-link smart-select" data-open-in="popup">
                                 <!-- select -->
                                 <select name="Designation" [(ngModel)]='careerDetail.designation'>
                                    <option value="B.Arch">Project Manager</option>
                                    <option value="B.Des">Team Leader</option>
                                    <option value="5 Feet">Managing Director</option>
                                    <option value="5'1">CEO</option>
                                    <option value="5'2">Clerk</option>
                                    <option value="5'3" selected>Business Manager</option>
                                    <option value="5'4">HR Manager</option>
                                    <option value="5'5">General Manager</option>
                                    <option value="5'6">Deputy GM</option>
                                    <option value="5'7">Senior Coordinator</option>
                                    <option value="5'8">Junior Coordinator</option>
                                    <option value="5'9">Supervisor</option>
                                    <option value="5'10">Assistant Manager</option>
                                    <option value="5'11">Vice President</option>
                                    <option value="6 Feet">Trainee</option>
                                 </select>
                                 <div class="item-content">
                                    <div class="item-inner">
                                       <!-- Select label -->
                                       <div class="item-title">Designation</div>
                                       <!-- Selected value, not required -->
                                       <div class="item-after">{{careerDetail.designation | titlecase}}</div>
                                    </div>
                                 </div>
                              </a>
                           </li>
                           <li>
                               
                                 <div class="item-content">
                                    <div class="item-inner" style="border-bottom: 1px solid rgb(217, 217, 217)">
                                       <!-- Select label -->
                                       <div class="item-title">Annual Income</div>
                                       <!-- Selected value, not required -->
                                       <div class="item-after"> 
                                           <input type="text" [(ngModel)]='careerDetail.income' placeholder="Annual Income" />
                                       </div>
                                    </div>
                                 </div>
                               
                           </li>
                           <li>
                              <!-- Smart select, will be opened in Popup -->
                              <a href="#" class="item-link smart-select" data-open-in="popup">
                                 <!-- select -->
                                 <select name="Experience" [(ngModel)]='careerDetail.experience'>
                                    <option value="B.qArch">6 Months</option>
                                    <option value="Bw.Des">1 Year</option>
                                    <option value="B.eDes">2 Year</option>
                                    <option value="gB.Dges">3 Year</option>
                                    <option value="B.Dhfes">4 Year</option>
                                    <option value="rB.Ddfes">5 Year</option>
                                    <option value="B.Derts">6 Year</option>
                                    <option value="B.Ddfes">7 Year</option>
                                    <option value="B.Detds" selected>8 Year</option>
                                    <option value="B.Dhges">9 Year</option>
                                    <option value="B.Dhejs">10 Year</option>
                                    <option value="B.Dhes">11 Year</option>
                                    <option value="B.Dejs">12 Year</option>
                                 </select>
                                 <div class="item-content">
                                    <div class="item-inner">
                                       <!-- Select label -->
                                       <div class="item-title">Work Experience</div>
                                       <!-- Selected value, not required -->
                                       <div class="item-after">{{careerDetail.experience}} Years</div>
                                    </div>
                                 </div>
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <!-- Tabs, tabs wrapper -->
               </div>
            </div>
         </div>
      </div>
    </div>
