<ng-template #loading>Loading User Data...</ng-template>
 <!-- Status bar overlay for fullscreen mode-->
 <div class="statusbar-overlay"></div>
 <!-- Panels overlay-->
 <div class="panel-overlay"></div>
 <app-header (pageChanged)="pageChangedHandler($event)" ></app-header>

 <app-footer></app-footer>
 <!-- Views -->
 <div class="views" >
    <!-- Your main view, should have "view-main" class -->
    <div class="view view-main">
       <!-- Main Container Start -->
       <div class="pages">
        <div data-page="accepted-members" class="page navbar-fixed">
           <div class="navbar">
              <div class="navbar-inner">
                 <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i></a></div>
                 <div class="center fg-white">Home</div>
                 <div class="right">
                    <!-- Right link contains only icon - additional "icon-only" class-->
                    <a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
                 </div>
              </div>
           </div>
           <!-- Toolbar has additional "toolbar-bottom" class -->
           <div class="page-content">
              <div class="content-block">
                 <div class="buttons-row margin-top-20">
                     
                 </div>
              </div>
              <!-- Tabs, tabs wrapper -->
              <div class="tabs">
                 <!-- Tab 1, active by default -->
                 <div id="tab1" class="tab active">
                    <div class="content-block">


                       <div class="card facebook-card" id="interestStatus01" *ngFor="let person of persons; index as i">
                          <div class="card-content">
                             <div class="card-content-inner">                                 
                                <a href="#" class="open-slider-modal">
                                <span class="text-accepton-image"><img alt="" src="{{baseUrl}}/assets/img/photo-camera.png" width="20" height="20"><label class="label-text-accept">4</label></span>
                                </a>
                                <img alt="" src="{{baseUrl}}/assets/img/ferry.jpg" width="100%">
                                <p>{{person.fName}} {{person.lName}}</p>
                                <div class="columns-oney color-card-greyish">
                                   <p>{{person?.dob}} {{person?.height}}"</p>
                                   <p>{{person?.gotra}}</p>
                                   <p>Indian</p>
                                   <p>{{person?.city}}</p>
                                   <p>{{person?.desgination}}</p>
                                   <p>{{person?.income}}</p>
                                   <p>{{person?.qualification}} - {{person?.nameOfCollage}}</p>
                                </div>
                             </div>
                          </div>
                           
                          <div class="footer-sj-manage-all-in-set">
                             <div class="footer-flex-sj">
                                <div class="flexy-3-sj">
                                   <a href="live-chat.html" class="footer-matri-flex-oney button">
                                      <img alt="" src="{{baseUrl}}/assets/img/gallery.png" width="16" height="16" class="sj-rcorners2-icons-1">
                                      <p class="para-inside-footer-sj-2">Message</p>
                                   </a>
                                </div>
                                <div class="flexy-3-sj">
                                   <a href="#" class="footer-matri-flex-oney button cancelInterest" id="Status01">
                                      <img alt="" src="{{baseUrl}}/assets/img/cross.png" width="16" height="16" class="sj-rcorners2-icons-1">
                                      <p class="para-inside-footer-sj-2">Cancel</p>
                                   </a>
                                </div>
                                <div class="flexy-3-sj">
                                   <a href="#" class="footer-matri-flex-oney button alert-text-viewcontact">
                                      <img alt="" src="{{baseUrl}}/assets/img/phone-call-2.png" width="16" height="16" class="sj-rcorners2-icons-1">
                                      <p class="para-inside-footer-sj-2">Contact</p>
                                   </a>
                                </div>
                             </div>
                          </div>
                        
                       </div>    


                    </div>
                 </div>
                 <!-- Tab 2 -->
                </div>
           </div>
        </div>
     </div>
	   <!-- Main container ends -->
        
    </div>
 </div>