<div class="pages">
  <div data-page="login" class="page layout-dark">
     <!-- Toolbar has additional "toolbar-bottom" class -->
     <div class="page-content login-page theme-white">
        <div class="close"><a href="index.html" class="back" data-force="true"><img src="{{baseUrl}}/assets/img/close.png" alt="close"></a></div>
        <!-- Views -->
        <div class="views">
           <!-- Your main view, should have "view-main" class -->
           <div class="view view-main">
              <!-- Pages container, because we use fixed navbar and toolbar, it has additional appropriate classes-->
              <div class="pages">
                 <!-- Page, "data-page" contains page name -->
                 <div data-page="index" class="page">
                    <!-- Scrollable page content -->
                    <div class="page-content" id="app-cover">
                       <div class="app-cover-content">
                          <div class="margin-bottom-10"><img src="{{baseUrl}}/assets/img/logo.png" alt="Biztrendz" width="60" height="60"/></div>
                          <div class="text-large margin-bottom-15  font">
                             Mehra's
                          </div>
                          <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
                            <div class="masti-marle-chore-no1">
                              <div class="row  margin-top-30">
                                  <div class="col-100">
                                    <img src="{{baseUrl}}/assets/img/avatar2536.png" alt=""  width="20" class="sign-in-img"/>
                                    <input type="text" id="email" placeholder="Email" name="usename" ngModel required #username="ngModel" />
                                  </div>
                                  <div class="col-100">
                                    <img src="{{baseUrl}}/assets/img/key2456.png" alt=""  width="20" class="sign-in-img"/>
                                    <input type="password" id="passcode" placeholder="Password" name="password" required ngModel #password="ngModel"/>
                                  </div>
                              </div>                              
                            </div>
                            <div class="row  margin-top-30">
                              <div class="col-100">
                                  <a href="javascript:void(0)" class="button button-fill btn1" > 
                                    <img src="../{{baseUrl}}/assets/img/mail.png" alt=""  width="20" class="img-icon"/>                                    
                                      <div class="text-alignment-problems" >
                                        <button style="background-color: Transparent;color: whitesmoke" >  LOGIN NOW </button>
                                      </div>                                  
                                  </a>
                              </div>
                            </div>
                        </form>
                          <div class="row offset-top-10 offset-bottom-10">
                             <div class="col-100">
                                <div class="line"></div>
                                <span class="or">or</span> 
                                <div class="line"></div>
                             </div>
                          </div>
                          <div class="row ">
                             <div class="col-50"> 
                                <a href="sign-up.html" class="button button-fill fb-btn fb-btn-inputino">
                                <img src="{{baseUrl}}/assets/img/facebook.png" alt=""  width="20" class="img-icon"/>
                                Facebook
                                </a>
                             </div>
                             <div class="col-50"> 
                                <a href="sign-up.html" class="button button-fill btn3">
                                    <img src="{{baseUrl}}/assets/img/google-plus-symbol.png" alt=""  width="20" class="img-icon"/>
                                google+
                                </a>
                             </div>
                          </div>
                          <div class="row offset-top-10 margin-top-15">
                             <div class="col-100"> 
                                Want to reset your password
                                <a href="remember-password.html" class="login">Click here</a>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>