<div class="views">
  <!-- Your main view, should have "view-main" class -->
  <div class="view view-main">
      <div class="pages">
          <div data-page="edit-profile" class="page navbar-fixed">
             <div class="navbar">
                <div class="navbar-inner">
                   <div class="left"><a (click)="goBack()" class="back link"> <i class="icon icon-back"></i></a></div>
                   <div class="center fg-white">Profile View</div>
                   <div class="right">
                      <!-- Right link contains only icon - additional "icon-only" class-->
                      <a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
                   </div>
                </div>
             </div>
             <!-- Toolbar has additional "toolbar-bottom" class -->
             <div class="page-content">
                <div class="guneet-personal-class-editor">
                   <div class="swiper-custom">
                      <div class="swiper-container swiper-retro" >
                         <div class="swiper-wrapper">
                           <div class="swiper-slide">
                               <div class="first-slider-head-sj">
                                  <div class="footer-flex-sj-2546">
                                     <div class="flexy-3-sj-1524 footer-matri-flex-oyod-1 pp-prev" (click)="redirect('family')" >Family</div>
                                     <div class="flexy-3-sj-1524 footer-matri-flex-oyod">Lifestyle</div>
                                     <div class="flexy-3-sj-1524 footer-matri-flex-oyod-1 pp-next" (click)="redirect('contact')" >Contact</div>
                                  </div>
                               </div>
                               <div class="white-triangle-sj"></div>
                               <div class="content-block">
                                  <div class="li-ke-lafde-resolve-kar">
                                     <div class="list-block media-list">
                                        <ul>
                                           <li data-popup=".popup-done-six" class="open-popup" >
                                              <a href="#" class="item-link item-content">
                                                 <div class="item-inner">
                                                    <div class="item-title-row">
                                                       <div class="item-title">Food I Cook</div>
                                                    </div>
                                                    <div class="item-text">Chinese Food, Mexican Food, Italian Food, Japanese Food, Greek cuisine...</div>
                                                 </div>
                                              </a>
                                           </li>
                                           <!-- popup-done-one -->
                                           <div class="popup popup-done-six">
                                              <div class="popup-header-main-edit-sj">
                                                 <label class="text-class-head-popup">Food I Cook</label>
                                                 <label class="label-text-accept-popup-head"><a href="#" class="close-popup"><img src="http://via.placeholder.com/16x16?text=close&close.png" width="16" height="16" class="sj-popup-icons"></a></label>
                                              </div>
                                              <div class="content-block">
                                                 <div class="desi-dhakkan-khol">
                                                    <div class="align-top">
                                                       <div class="item-content">
                                                          <div class="item-inner">
                                                             <div class="item-title label">Food I Cook</div>
                                                             <div class="item-input">
                                                                <textarea [(ngModel)]='lifeStyle.foodAndCook'> 
                                                                </textarea>
                                                             </div>
                                                          </div>
                                                       </div>
                                                    </div>
                                                    <div class="row">
                                                       <div class="col-50">
                                                          <a href="#" class="button button-big button-red close-popup">Cancel</a>
                                                       </div>
                                                       <div class="col-50">
                                                          <a href="#" class="button button-big button-green">Save</a>
                                                       </div>
                                                    </div>
                                                 </div>
                                              </div>
                                           </div>
                                           <!-- Popup Solution 5 -->
                                           <!-- Popup Solution 5 -->
                                           <li>
                                              <a [routerLink]="['/habits']"   class="item-link item-content">
                                                 <div class="item-inner">
                                                    <div class="item-title-row">
                                                       <div class="item-title">Habits</div>
                                                    </div>
                                                    <div class="item-text">Dietary Habits | Smoking Habits | Open to Pets | Drinking ? |</div>
                                                 </div>
                                              </a>
                                           </li>
                                           <!-- Popup Solution 5 -->
                                           <!-- Popup Solution 5 -->
                                           <li *ngIf='!isMehra'>
                                              <a  [routerLink]="['/assets']" class="item-link item-content">
                                                 <div class="item-inner">
                                                    <div class="item-title-row">
                                                       <div class="item-title">Assets</div>
                                                    </div>
                                                    <div class="item-text">Own House | Own Car | Own Agricultural Land | Own Shop |</div>
                                                 </div>
                                              </a>
                                           </li>
                                           <!-- Popup Solution 5 -->
                                           <!-- Popup Solution 5 -->
                                           <li>
                                               
                                                 <div class="item-inner">
                                                    <div class="item-title-row">
                                                       <div class="item-title">Hobbies</div>
                                                    </div>
                                                    <div class="item-text" style="margin-top: 20px;">
                                                      <input type="text" name="hobbies" [(ngModel)]='lifeStyle.hobbies'   placeholder="Art | Handicraft | Printing | Gardening | Music Instruments"/>
                                                    </div>
                                                 </div>
                                              
                                           </li>
                                           <!-- Popup Solution 5 -->  
                                           <!-- Popup Solution 5 -->
                                           <li>
                                              
                                                 <div class="item-inner">
                                                    <div class="item-title-row">
                                                       <div class="item-title">Interest</div>
                                                    </div>
                                                    <div class="item-text" style="margin-top: 20px;">
                                                        <input type="text" name="intrest" [(ngModel)]='lifeStyle.interest'    placeholder="Music Listen | Movies | Travel | Sports | Meditation | Yoga"/>
                                                      
                                                    </div>
                                                 </div>
                                              
                                           </li>
                                           <!-- Popup Solution 5 -->
                                        </ul>
                                     </div>
                                  </div>
                               </div>
                            </div>
                      </div>
                   </div>
                </div>
                <!-- Tabs, tabs wrapper -->
             </div>
          </div>
       </div>
  </div>
 