<!-- Left panel with reveal effect-->
<div class="panel panel-left panel-reveal">
  <div class="content-block">
     <!-- Left panel Content -->
     <div class="list-block media-list">
        <ul class="no-border">
           <li>
              <div class="item-content">
                 <div class="item-media"><img src="../assets/img/useri.png" width="60" alt="user"></div>
                 <div class="item-inner">
                    <div class="item-title-row margin-top-5">
                       <div class="item-title text-bold">David Doe</div>
                    </div>
                    <div class="item-subtitle">ID-ZWHX5481</div>
                 </div>
              </div>
           </li>
        </ul>
     </div>
     <div class="list-block list-menu">
        <ul class="no-border">
           <li>
              <i class="flaticon-home-2"></i> <a href="home.html" class="close-panel no-animation">Home</a>
           </li>
           <li>
              <i class="flaticon-favorite-1"></i>  
              <div class="item-has-badge"><a href="interest-received.html"  class="close-panel no-animation">Interest Recieved</a></div>
              <span class="badge bg-pink">5</span>
           </li>
           <li>
              <i class="flaticon-search-2"></i>  <a href="search-your-match.html" class="close-panel no-animation">Search your Match</a>
           </li>
           <li>
              <i class="flaticon-id-card-1"></i>  <a href="edit-profile.html" class="close-panel no-animation">Edit Profile</a>
           </li>
           <li>
              <i class="flaticon-people"></i>  
              <div class="item-has-badge"><a href="profile-visitors.html" class="close-panel no-animation">Profile Visitors</a></div>
              <span class="badge bg-orange">8</span>
           </li>
           <li>
              <i class="flaticon-examine-man"></i>  <a href="search-profile-by-id.html" class="close-panel no-animation">Search by ID</a>
           </li>
           <li>
              <i class="flaticon-layout"></i>  
              <div class="item-has-badge"> <a href="features-list.html" class="close-panel no-animation">All Features</a></div>
           </li>
           <li>
              <i class="flaticon-settings"></i> <a href="settings.html" class="close-panel no-animation">Settings</a>
           </li>
           <li>
              <div class="item-has-badge">Toll Free: 1800-222-4545</div>
           </li>
        </ul>
     </div>
  </div>
</div>