
 <div class="views">
    <!-- Your main view, should have "view-main" class -->
    <div class="view view-main">      
       <!-- Pages container, because we use fixed navbar and toolbar, it has additional appropriate classes-->
       <div class="pages">
        <div data-page="home" class="page navbar-fixed">
           <div class="navbar">
              <div class="navbar-inner">
                 <div class="left"><a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a></div>
                 <div class="center fg-white">Home</div>
                 <div class="right">
                    <!-- Right link contains only icon - additional "icon-only" class-->
                    <a href="search-your-match.html" class="link icon-only"><i class="flaticon-search-2"></i></a>
                    
                 </div>
              </div>
           </div>
           <!-- Toolbar has additional "toolbar-bottom" class -->
           <div class="page-content">
              <div class="content-block">
                 <div class="guneet-first-slider-red-inone">
                    <div class="swiper-container swiper-2">
                       <div class="swiper-wrapper">
                          <div class="swiper-slide button" style="width:160">
                             <a [routerLink]="['/profile']">
                                <span>
                                   <img src="{{baseUrl}}/assets/img/couple.png"> 
                                   <p class="label-slider-home-sikhjodi">View Profile</p>
                                </span>
                             </a>
                          </div>                           
                       </div>
                    </div>
                 </div>


                 <div class="card facebook-card" id="interestStatus01" *ngFor="let person of persons; index as i" (click)="viewProfile(person.userName)">
                  <div class="card-content">
                     <div class="card-content-inner">                                 
                        <a href="#" class="open-slider-modal">
                        <span class="text-accepton-image"><img alt="" src="{{baseUrl}}/assets/img/photo-camera.png" width="20" height="20"><label class="label-text-accept">4</label></span>
                        </a>
                        <img alt="" src="{{baseUrl}}/assets/img/ferry.jpg" width="100%">
                        <p>{{person.fName}} {{person.lName}}</p>
                        <div class="columns-oney color-card-greyish">
                           <p>{{person?.dob}} {{person?.height}}"</p>
                           <p>{{person?.gotra}}</p>
                           <p>Indian</p>
                           <p>{{person?.city}}</p>
                           <p>{{person?.desgination}}</p>
                           <p>{{person?.income}}</p>
                           <p>{{person?.qualification}} - {{person?.nameOfCollage}}</p>
                        </div>
                     </div>
                  </div>
                   
                  <div class="footer-sj-manage-all-in-set" *ngIf="!isMehra">
                     <div class="footer-flex-sj">
                        <div class="flexy-3-sj">
                           <a href="live-chat.html" class="footer-matri-flex-oney button">
                              <img alt="" src="{{baseUrl}}/assets/img/gallery.png" width="16" height="16" class="sj-rcorners2-icons-1">
                              <p class="para-inside-footer-sj-2">Message</p>
                           </a>
                        </div>
                        <div class="flexy-3-sj">
                           <a href="#" class="footer-matri-flex-oney button cancelInterest" id="Status01">
                              <img alt="" src="{{baseUrl}}/assets/img/cross.png" width="16" height="16" class="sj-rcorners2-icons-1">
                              <p class="para-inside-footer-sj-2">Cancel</p>
                           </a>
                        </div>
                        <div class="flexy-3-sj">
                           <a href="#" class="footer-matri-flex-oney button alert-text-viewcontact">
                              <img alt="" src="{{baseUrl}}/assets/img/phone-call-2.png" width="16" height="16" class="sj-rcorners2-icons-1">
                              <p class="para-inside-footer-sj-2">Contact</p>
                           </a>
                        </div>
                     </div>
                  </div>
                
               </div>    


                 <div class="row" *ngIf="!isMehra">
                    <section class="inner-box-accept-st col-50">
                       <a href="accepted-members.html">
                          <p>24</p>
                          <div class="div-style-change-color button">
                             <p>Acceptence</p>
                          </div>
                       </a>
                    </section>
                    <section class="inner-box-accept-st col-50">
                       <a href="all-cards-list.html">
                          <p>26</p>
                          <div class="div-style-change-color button">
                             <p>Recent Matches</p>
                          </div>
                       </a>
                    </section>
                 </div>
                 <div class="guneet-personal-class" *ngIf="!isMehra">
                    Interest Recieved 5 - View All
                    <div class="swiper-container swiper-1">
                       <div class="swiper-wrapper">
                          <div class="swiper-slide">
                             <span>
                                <img src="{{baseUrl}}/assets/img/g1.jpg" height="100">
                                <label class="card-interest-recieved">Ana Wilson</label>
                                <label class="card-interest-recieved-paras">28 Years 5'7"</label>
                                <label class="card-interest-recieved-paras1">Sikh: Ramgharhia</label>
                                <label class="card-interest-recieved-paras2">Punjabi</label>
                                <label class="card-interest-recieved-paras3">4-6 Lacs</label>
                             </span>
                             <div class="dis-flex">
                                <div class="flex-1">
                                   <a href="#" class="designer-combat-matri button">
                                      <p class="para-inside-card-interest">Accept</p>
                                   </a>
                                </div>
                                <div class="flex-1">
                                   <a href="#" class="designer-combat-matri button">
                                      <p class="para-inside-card-interest">Decline</p>
                                   </a>
                                </div>
                             </div>
                          </div>
                          <div class="swiper-slide">
                             <span>
                                <img src="{{baseUrl}}/assets/img/g2.jpg" height="100">
                                <label class="card-interest-recieved">Pamela Rodes</label>
                                <label class="card-interest-recieved-paras">28 Years 5'7"</label>
                                <label class="card-interest-recieved-paras1">Sikh: Ramgharhia</label>
                                <label class="card-interest-recieved-paras2">Punjabi</label>
                                <label class="card-interest-recieved-paras3">4-6 Lacs</label>
                             </span>
                             <div class="dis-flex">
                                <div class="flex-1">
                                   <a href="#" class="designer-combat-matri button">
                                      <p class="para-inside-card-interest">Accept</p>
                                   </a>
                                </div>
                                <div class="flex-1">
                                   <a href="#" class="designer-combat-matri button">
                                      <p class="para-inside-card-interest">Decline</p>
                                   </a>
                                </div>
                             </div>
                          </div>
                          <div class="swiper-slide">
                             <span>
                                <img src="{{baseUrl}}/assets/img/g3.jpg" height="100">
                                <label class="card-interest-recieved">Takshi Sharma</label>
                                <label class="card-interest-recieved-paras">28 Years 5'7"</label>
                                <label class="card-interest-recieved-paras1">Sikh: Ramgharhia</label>
                                <label class="card-interest-recieved-paras2">Punjabi</label>
                                <label class="card-interest-recieved-paras3">4-6 Lacs</label>
                             </span>
                             <div class="dis-flex">
                                <div class="flex-1">
                                   <a href="#" class="designer-combat-matri button">
                                      <p class="para-inside-card-interest">Accept</p>
                                   </a>
                                </div>
                                <div class="flex-1">
                                   <a href="#" class="designer-combat-matri button">
                                      <p class="para-inside-card-interest">Decline</p>
                                   </a>
                                </div>
                             </div>
                          </div>
                          <div class="swiper-slide">
                             <span>
                                <img src="{{baseUrl}}/assets/img/g4.jpg" height="100">
                                <label class="card-interest-recieved">Dyna Petti</label>
                                <label class="card-interest-recieved-paras">28 Years 5'7"</label>
                                <label class="card-interest-recieved-paras1">Sikh: Ramgharhia</label>
                                <label class="card-interest-recieved-paras2">Punjabi</label>
                                <label class="card-interest-recieved-paras3">4-6 Lacs</label>
                             </span>
                             <div class="dis-flex">
                                <div class="flex-1">
                                   <a href="#" class="designer-combat-matri button">
                                      <p class="para-inside-card-interest">Accept</p>
                                   </a>
                                </div>
                                <div class="flex-1">
                                   <a href="#" class="designer-combat-matri button">
                                      <p class="para-inside-card-interest">Decline</p>
                                   </a>
                                </div>
                             </div>
                          </div>
                          <div class="swiper-slide">
                             <span>
                                <img src="{{baseUrl}}/assets/img/g5.jpg" height="100">
                                <label class="card-interest-recieved">Shreya Sharma</label>
                                <label class="card-interest-recieved-paras">28 Years 5'7"</label>
                                <label class="card-interest-recieved-paras1">Sikh: Ramgharhia</label>
                                <label class="card-interest-recieved-paras2">Punjabi</label>
                                <label class="card-interest-recieved-paras3">4-6 Lacs</label>
                             </span>
                             <div class="dis-flex">
                                <div class="flex-1">
                                   <a href="#" class="designer-combat-matri button">
                                      <p class="para-inside-card-interest">Accept</p>
                                   </a>
                                </div>
                                <div class="flex-1">
                                   <a href="#" class="designer-combat-matri button">
                                      <p class="para-inside-card-interest">Decline</p>
                                   </a>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="row col-100" *ngIf="!isMehra" >
                    <p>Daily Profile Visitors - View All</p>
                    <div class="class-profile-visitors">
                       <div class="item-media round-visitors-slab"><img src="{{baseUrl}}/assets/img/useri-5-rep.png" width="60" alt="user" class="img-circle-profile-slab"></div>
                       <div class="item-media round-visitors-slab"><img src="{{baseUrl}}/assets/img/mapple-useri.png" width="60" alt="user" class="img-circle-profile-slab"></div>
                       <div class="item-media round-visitors-slab"><img src="{{baseUrl}}/assets/img/useri-8.jpg" width="60" alt="user" class="img-circle-profile-slab"></div>
                       <a href="profile-visitors.html">
                          <div class="item-media round-visitors-slab img-circle-profile-extra button">
                             <p>+17</p>
                          </div>
                       </a>
                    </div>
                 </div>
                 <div class="guneet-personal-class" *ngIf="!isMehra">
                    Daily Recommendations 5 - View All
                    <div class="swiper-container swiper-1">
                       <div class="swiper-wrapper">
                          <div class="swiper-slide">
                             <span>
                                <img src="{{baseUrl}}/assets/img/img2i.jpg" height="100">
                                <label class="card-interest-recieved">Klara Watson</label>
                                <label class="card-interest-recieved-paras">28 Years 5'7"</label>
                                <label class="card-interest-recieved-paras1">Christian</label>
                                <label class="card-interest-recieved-paras2">United States (FL)</label>
                                <label class="card-interest-recieved-paras3">25k$-50k$</label>
                             </span>
                             <div class="single-button-daily-reco button">
                                <p class="para-inside-button-single button">Send Interest</p>
                             </div>
                          </div>
                          <div class="swiper-slide">
                             <span>
                                <img src="{{baseUrl}}/assets/img/porantic.jpg" height="100">
                                <label class="card-interest-recieved">Klara Watson</label>
                                <label class="card-interest-recieved-paras">28 Years 5'7"</label>
                                <label class="card-interest-recieved-paras1">Christian</label>
                                <label class="card-interest-recieved-paras2">United States (FL)</label>
                                <label class="card-interest-recieved-paras3">25k$-50k$</label>
                             </span>
                             <div class="single-button-daily-reco button">
                                <p class="para-inside-button-single button">Send Interest</p>
                             </div>
                          </div>
                          <div class="swiper-slide">
                             <span>
                                <img src="{{baseUrl}}/assets/img/divyanshu.jpg" height="100">
                                <label class="card-interest-recieved">Kate Simpson</label>
                                <label class="card-interest-recieved-paras">28 Years 5'7"</label>
                                <label class="card-interest-recieved-paras1">Christian</label>
                                <label class="card-interest-recieved-paras2">United States (FL)</label>
                                <label class="card-interest-recieved-paras3">25k$-50k$</label>
                             </span>
                             <div class="single-button-daily-reco button">
                                <p class="para-inside-button-single button">Send Interest</p>
                             </div>
                          </div>
                          <div class="swiper-slide">
                             <span>
                                <img src="{{baseUrl}}/assets/img/angela.jpg" height="100">
                                <label class="card-interest-recieved">Kate Simpson</label>
                                <label class="card-interest-recieved-paras">28 Years 5'7"</label>
                                <label class="card-interest-recieved-paras1">Christian</label>
                                <label class="card-interest-recieved-paras2">United States (FL)</label>
                                <label class="card-interest-recieved-paras3">25k$-50k$</label>
                             </span>
                             <div class="single-button-daily-reco button">
                                <p class="para-inside-button-single button">Send Interest</p>
                             </div>
                          </div>
                          <div class="swiper-slide">
                             <span>
                                <img src="{{baseUrl}}/assets/img/samprin.jpeg" height="100">
                                <label class="card-interest-recieved">Kate Simpson</label>
                                <label class="card-interest-recieved-paras">28 Years 5'7"</label>
                                <label class="card-interest-recieved-paras1">Christian</label>
                                <label class="card-interest-recieved-paras2">United States (FL)</label>
                                <label class="card-interest-recieved-paras3">25k$-50k$</label>
                             </span>
                             <div class="single-button-daily-reco button">
                                <p class="para-inside-button-single button">Send Interest</p>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
            <div class="extra-bottom-spacing-divi"></div>
          </div>
           </div>
        </div>
     </div>
</div>
