<div class="views">
    <!-- Your main view, should have "view-main" class -->
    <div class="view view-main">
        <div class="pages">
            <div data-page="Habits" class="page navbar-fixed">
               <div class="navbar">
                  <div class="navbar-inner">
                     <div class="left"><a (click)="goBack()" class="back link"> <i class="icon icon-back"></i></a></div>
                     <div class="center fg-white">Habits</div>
                     <div class="right">
                        <!-- Right link contains only icon - additional "icon-only" class-->
                        <a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
                     </div>
                  </div>
               </div>
               <div class="content-block">
                  <div class="page-content">
                     <div class="list-block">
                        <ul>
                           
                           <li>
                              <!-- Smart select, will be opened in Popup -->
                              <a href="#" class="item-link smart-select" data-open-in="popup">
                                 <!-- select -->
                                 <select (change)="_updateSomke()" name="Do you Smoke" [(ngModel)]='habit.smoke'>
                                    <option value="YES">Yes</option>
                                    <option value="OCCASIONALLY">Occasionally</option>
                                    <option value="NO" selected>No</option>
                                 </select>
                                 <div class="item-content">
                                    <div class="item-inner">
                                       <!-- Select label -->
                                       <div class="item-title">Do you Smoke ?</div>
                                       <!-- Selected value, not required -->
                                       <div class="item-after">{{habit.smoke | titlecase}}</div>
                                    </div>
                                 </div>
                              </a>
                           </li>
                           <li>
                              <!-- Smart select, will be opened in Popup -->
                              <a href="#" class="item-link smart-select" data-open-in="popup">
                                 <!-- select -->
                                 <select (change)="_updateDrink()" name="Do you Drink" [(ngModel)]='habit.drink'>
                                        <option value="YES">Yes</option>
                                        <option value="OCCASIONALLY">Occasionally</option>
                                        <option value="NO" selected>No</option>
                                 </select>
                                 <div class="item-content">
                                    <div class="item-inner">
                                       <!-- Select label -->
                                       <div class="item-title">Do you Drink ?</div>
                                       <!-- Selected value, not required -->
                                       <div class="item-after">{{habit.drink | titlecase}}</div>
                                    </div>
                                 </div>
                              </a>
                           </li>
                           <li *ngIf='!isMehra'>
                              <!-- Smart select, will be opened in Popup -->
                              <a href="#" class="item-link smart-select" data-open-in="popup">
                                 <!-- select -->
                                 <select name="opento" >
                                    <option value="4242" selected>Yes</option>
                                    <option value="42452">No</option>
                                 </select>
                                 <div class="item-content">
                                    <div class="item-inner">
                                       <!-- Select label -->
                                       <div class="item-title">Open to Pets ?</div>
                                       <!-- Selected value, not required -->
                                       <div class="item-after">Yes</div>
                                    </div>
                                 </div>
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <!-- Tabs, tabs wrapper -->
               </div>
            </div>
         </div>
     </div>
</div>