<div class="views">
    <!-- Your main view, should have "view-main" class -->
    <div class="view view-main">
        <div class="pages">
            <div data-page="edit-profile" class="page navbar-fixed">
               <div class="navbar">
                  <div class="navbar-inner">
                     <div class="left"><a (click)="goBack()" class="back link"> <i class="icon icon-back"></i></a></div>
                     <div class="center fg-white">Profile View</div>
                     <div class="right">
                        <!-- Right link contains only icon - additional "icon-only" class-->
                        <a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
                     </div>
                  </div>
               </div>
               <!-- Toolbar has additional "toolbar-bottom" class -->
               <div class="page-content">
                  <div class="guneet-personal-class-editor">
                     <div class="swiper-custom">
                        <div class="swiper-container swiper-retro" >
                           <div class="swiper-wrapper">
                               
                              <div class="swiper-slide">
                                 <div class="first-slider-head-sj">
                                    <div class="footer-flex-sj-2546">
                                       <div class="flexy-3-sj-1524 footer-matri-flex-oyod-1 pp-prev">Photos</div>
                                       <div class="flexy-3-sj-1524 footer-matri-flex-oyod">Basic Info</div>
                                       <div class="flexy-3-sj-1524 footer-matri-flex-oyod-1 pp-next"  (click)="redirect('education')"> Education</div>
                                    </div>
                                 </div>
                                 <div class="white-triangle-sj"></div>
                                 <div class="content-block">
                                    <div class="li-ke-lafde-resolve-kar">
                                       <div class="list-block media-list">
                                          <ul>
                                             <!-- Popup Solution 1 -->
                                             <li data-popup=".popup-done-one" class="open-popup" >
                                                <a href="#" class="item-link item-content">
                                                   <div class="item-inner">
                                                      <div class="item-title-row">
                                                         <div class="item-title">About Me</div>
                                                      </div>
                                                      <div class="item-text">I have been living in new Delhi. I am 6 feet tall and moderately built my fitness more..</div>
                                                   </div>
                                                </a>
                                             </li>
                                             <!-- popup-done-one -->
                                             <div class="popup popup-done-one">
                                                <div class="popup-header-main-edit-sj">
                                                   <label class="text-class-head-popup">About Me</label>
                                                   <label class="label-text-accept-popup-head"><a href="#" class="close-popup"><img src="img/close.png" width="16" height="16" class="sj-popup-icons"></a></label>
                                                </div>
                                                <div class="content-block">
                                                   <div class="desi-dhakkan-khol">
                                                      <div class="align-top">
                                                         <div class="item-content">
                                                            <div class="item-inner">
                                                               <div class="item-title label">About Me (Min 120 Words)</div>
                                                               <div class="item-input">
                                                                  <textarea>I have been living in new Delhi. I am 6 feet tall and moderately built. my fitness obsession helps me in keeping body fat at bay! I am working as chief software developer with our company. "HostRider IT Services", I am always trying to learn new skills to keep pace with the changing technology.</textarea>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="row">
                                                         <div class="col-50">
                                                            <a href="#" class="button button-big button-red close-popup">Cancel</a>
                                                         </div>
                                                         <div class="col-50">
                                                            <a href="#" class="button button-big button-green">Save</a>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                             <!-- Popup Solution 1 -->
                                             <!-- Popup Solution 2 -->
                                             <li>
                                                <a [routerLink]="['/personal']" class="item-link item-content">
                                                   <div class="item-inner">
                                                      <div class="item-title-row">
                                                         <div class="item-title">Personal Details</div>
                                                      </div>
                                                      <div class="item-text">Can be edited only once - Date of Birth | Maritial Status |</div>
                                                   </div>
                                                </a>
                                             </li>

                                              
                                             <!-- Popup Solution 2 -->
                                             <!-- Popup Solution 3 -->
                                             <li>
                                                <a [routerLink]="['/basic']" class="item-link item-content">
                                                   <div class="item-inner">
                                                      <div class="item-title-row">
                                                         <div class="item-title">Basic Details</div>
                                                      </div>
                                                      <div class="item-text">Full Name | Height | Country Living In | Gender | Profile Manage By |</div>
                                                   </div>
                                                </a>
                                             </li>
                                             <!-- Popup Solution 3 -->
                                             <!-- Popup Solution 4 -->
                                             <li>
                                                <a [routerLink]="['/ethnicity']" class="item-link item-content">
                                                   <div class="item-inner">
                                                      <div class="item-title-row">
                                                         <div class="item-title">Ethinicity</div>
                                                      </div>
                                                      <div class="item-text">Religion | Mother Tongue | Caste | Gotra | Family Based |</div>
                                                   </div>
                                                </a>
                                             </li>
                                             <!-- Popup Solution 4 -->
                                             <!-- Popup Solution 5 -->
                                             <li>
                                                <a [routerLink]="['/belief-system']" class="item-link item-content">
                                                   <div class="item-inner">
                                                      <div class="item-title-row">
                                                         <div class="item-title">Belief System</div>
                                                      </div>
                                                      <div class="item-text">Are you Amritdhari | Do you cut your Hair | Do you Trim your Beared |</div>
                                                   </div>
                                                </a>
                                             </li>
                                             <!-- Popup Solution 5 -->
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                              </div>                      
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- Tabs, tabs wrapper -->
               </div>
            </div>
         </div>
    </div>
</div>
        