<!-- Right panel with cover effect-->
<div class="panel panel-right panel-cover color-noti-whitish">
  <div class="content-block">
     <div class="row">
        <div class="col-20 text-center">
           <div class="margin-top-20"></div>
           <i class="flaticon-settings"></i>
        </div>
        <div class="col-60 text-center margin-top-20">
           <img src="{{baseUrl}}/assets/img/user1.jpg" width="80" alt="user">
           <div>David Doe</div>
           <div class="user-profession text-thiny margin-top-5">ID - ZWHX5481</div>
        </div>
        <div class="col-20 text-center">
           <div class="margin-top-20"></div>
           <i class="flaticon-plus"></i>
        </div>
     </div>
     <div class="skills margin-top-20">
        <div class="progressBar">
           <h6>Daily Recommendations</h6>
           <div class="progressBarContainer">
              <div class="progressBarValue value-90"></div>
           </div>
        </div>
        <div class="progressBar">
           <h6>Profile Visitors</h6>
           <div class="progressBarContainer">
              <div class="progressBarValue value-80"></div>
           </div>
        </div>
        <div class="progressBar">
           <h6>Send Interests</h6>
           <div class="progressBarContainer">
              <div class="progressBarValue value-30"></div>
           </div>
        </div>
        <div class="progressBar">
           <h6>Accepted Profiles</h6>
           <div class="progressBarContainer">
              <div class="progressBarValue value-70"></div>
           </div>
        </div>
     </div>
  </div>
</div>
<!-- /Right Panel -->