
<app-test></app-test>                     
         <!-- Panels overlay-->
         <!-- Status bar overlay for fullscreen mode-->
      <div class="statusbar-overlay"></div>
      <!-- Panels overlay-->
      <div class="panel-overlay" id="farji-overlay"></div>
      <!-- Left panel with reveal effect-->
         <!-- Left panel with reveal effect-->
         <div class="panel panel-left panel-reveal">
            <div class="content-block">
               <!-- Left panel Content -->
               <div class="list-block media-list">
                  <ul class="no-border">
                     <li>
                        <div class="item-content">
                           <div class="item-media"><img src="https://jitendrasagoriya.github.io/mahrametrimonial-ui/assets/img/useri.png" width="60" alt="user"></div>
                           <div class="item-inner">
                              <div class="item-title-row margin-top-5">
                                 <div class="item-title text-bold">David Doe</div>
                              </div>
                              <div class="item-subtitle">ID-ZWHX5481</div>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
               <div class="list-block list-menu">
                  <ul class="no-border">
                     <li>
                        <i class="flaticon-home-2"></i> <a (click)="goto('home')" class="close-panel no-animation">Home</a>
                     </li>
                     <li *ngIf="!isMehra">
                        <i class="flaticon-favorite-1"></i>  
                        <div class="item-has-badge"><a href="interest-received.html"  class="close-panel no-animation">Interest Recieved</a></div>
                        <span class="badge bg-pink">5</span>
                     </li>
                     <li *ngIf="!isMehra">
                        <i class="flaticon-search-2"></i>  <a href="search-your-match.html" class="close-panel no-animation">Search your Match</a>
                     </li>
                     <li>
                        <i class="flaticon-id-card-1"></i>  <a  (click)="goto('edit')"   class="close-panel no-animation">Edit Profile</a>
                     </li>
                     <li *ngIf="!isMehra">
                        <i class="flaticon-people"></i>  
                        <div class="item-has-badge"><a href="profile-visitors.html" class="close-panel no-animation">Profile Visitors</a></div>
                        <span class="badge bg-orange">8</span>
                     </li>
                     <li>
                        <i class="flaticon-examine-man"></i>  <a href="search-profile-by-id.html" class="close-panel no-animation">Search by ID</a>
                     </li>
                     <li *ngIf="!isMehra">
                        <i class="flaticon-layout"></i>  
                        <div class="item-has-badge"> <a href="features-list.html" class="close-panel no-animation">All Features</a></div>
                     </li>
                     <li *ngIf="!isMehra">
                        <i class="flaticon-settings"></i> <a href="settings.html" class="close-panel no-animation">Settings</a>
                     </li>
                     <li >
                        <div class="item-has-badge">Design & Develop by: Jitendra Sagoriya</div>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
         <!-- Right panel with cover effect-->
         <div class="panel panel-right panel-cover color-noti-whitish">
            <div class="content-block">
               <div class="row">
                  <div class="col-20 text-center">
                     <div class="margin-top-20"></div>
                     <i class="flaticon-settings"></i>
                  </div>
                  <div class="col-60 text-center margin-top-20">
                     <img src="https://jitendrasagoriya.github.io/mahrametrimonial-ui/assets/img/user1.jpg" width="80" alt="user">
                     <div>David Doe</div>
                     <div class="user-profession text-thiny margin-top-5">ID - ZWHX5481</div>
                  </div>
                  <div class="col-20 text-center">
                     <div class="margin-top-20"></div>
                     <i class="flaticon-plus"></i>
                  </div>
               </div>
               <div class="skills margin-top-20">
                  <div class="progressBar">
                     <h6>Daily Recommendations</h6>
                     <div class="progressBarContainer">
                        <div class="progressBarValue value-90"></div>
                     </div>
                  </div>
                  <div class="progressBar">
                     <h6>Profile Visitors</h6>
                     <div class="progressBarContainer">
                        <div class="progressBarValue value-80"></div>
                     </div>
                  </div>
                  <div class="progressBar">
                     <h6>Send Interests</h6>
                     <div class="progressBarContainer">
                        <div class="progressBarValue value-30"></div>
                     </div>
                  </div>
                  <div class="progressBar">
                     <h6>Accepted Profiles</h6>
                     <div class="progressBarContainer">
                        <div class="progressBarValue value-70"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- /Right Panel -->
         <!-- Views -->
        
               <!-- Pages container, because we use fixed navbar and toolbar, it has additional appropriate classes-->
                <router-outlet>
             
                </router-outlet>
           
      <!-- Path to Framework7 Library JS-->
      <script type="text/javascript" src="https://jitendrasagoriya.github.io/mahrametrimonial-ui/assets/js/framework7.min.js"></script>
      <script type="text/javascript" src="https://jitendrasagoriya.github.io/mahrametrimonial-ui/assets/js/framework7.3dpanels.min.js"></script>
      <script type="text/javascript" src="https://jitendrasagoriya.github.io/mahrametrimonial-ui/assets/js/framework7.indexed-list.min.js"></script>
      <!-- Slick Carousel -->
      <script type="text/javascript" src="https://jitendrasagoriya.github.io/mahrametrimonial-ui/assets/js/jquery-1.12.3.min.js"></script>
      <script type="text/javascript" src="https://jitendrasagoriya.github.io/mahrametrimonial-ui/assets/js/slick.min.js"></script>
      <!-- UpScroller -->
      <script type="text/javascript" src="https://jitendrasagoriya.github.io/mahrametrimonial-ui/assets/js/framework7.upscroller.min.js"></script>
      <!-- Path to your app js-->
      <script type="text/javascript" src="https://jitendrasagoriya.github.io/mahrametrimonial-ui/assets/js/my-app.js"></script>
  




