<div class="views">
    <!-- Your main view, should have "view-main" class -->
    <div class="view view-main">
        <div class="pages">
            <div data-page="edit-profile" class="page navbar-fixed">
               <div class="navbar">
                  <div class="navbar-inner">
                     <div class="left"><a (click)="goBack()" class="back link"> <i class="icon icon-back"></i></a></div>
                     <div class="center fg-white">Profile View</div>
                     <div class="right">
                        <!-- Right link contains only icon - additional "icon-only" class-->
                        <a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
                     </div>
                  </div>
               </div>
               <!-- Toolbar has additional "toolbar-bottom" class -->
               <div class="page-content">
                  <div class="guneet-personal-class-editor">
                     <div class="swiper-custom">
                        <div class="swiper-container swiper-retro" >
                          <div class="swiper-wrapper">
                             <div class="swiper-slide">
                                 <div class="first-slider-head-sj">
                                    <div class="footer-flex-sj-2546">
                                       <div class="flexy-3-sj-1524 footer-matri-flex-oyod-1 pp-prev" (click)="redirect('lifestyle')">Lifestyle</div>
                                       <div class="flexy-3-sj-1524 footer-matri-flex-oyod">Contact</div>
                                       <div class="flexy-3-sj-1524 footer-matri-flex-oyod-1 pp-next" ></div>
                                    </div>
                                 </div>
                                 <div class="white-triangle-sj"></div>
                                 <div class="content-block">
                                    <div class="li-ke-lafde-resolve-kar">
                                       <div class="list-block media-list">
                                          <ul>
                                                <li>
                                                
                                                        <div class="item-inner" style="border-bottom: 1px solid rgb(217, 217, 217)">
                                                           <div class="item-title-row">
                                                              <div class="item-title">Address</div>
                                                           </div>
                                                           <div class="item-input" style="margin-top: 20px;">
                                                                <textarea (blur)="_updateAddress()" style="height: 100px;" [(ngModel)]='contact.address'> 

                                                                </textarea>
                                                           </div>
                                                        </div>
                                                     
                                                  </li>
                                             <li>
                                                
                                                   <div class="item-inner" style="border-bottom: 1px solid rgb(217, 217, 217)">
                                                      <div class="item-title-row">
                                                         <div class="item-title">Email ID</div>
                                                      </div>
                                                      <div class="item-text" style="margin-top: 20px;">
                                                          <input (blur)="_updateEmail()" type="text" placeholder="Enter email id" [(ngModel)]='contact.email' />
                                                      </div>
                                                   </div>
                                                
                                             </li>
                                             <!-- Popup Solution 5 -->
                                             <!-- Popup Solution 5 -->
                                             <li>
                                                 
                                                   <div class="item-inner" style="border-bottom: 1px solid rgb(217, 217, 217)">
                                                      <div class="item-title-row">
                                                         <div class="item-title">Mobile Number</div>
                                                      </div>
                                                      <div class="item-text" style="margin-top: 20px;">
                                                            <input (blur)="_updateMobile()" type="text" placeholder="Enter mobile number" name="mobile" [(ngModel)]='contact.mobileNumber' />
                                                      </div>
                                                   </div>
                                                 
                                             </li>
                                             <li>
                                                 
                                                    <div class="item-inner" style="border-bottom: 1px solid rgb(217, 217, 217)">
                                                       <div class="item-title-row">
                                                          <div class="item-title">Alternate Mobile Number</div>
                                                       </div>
                                                       <div class="item-text" style="margin-top: 20px;">
                                                             <input (blur)="_updateSecoundryContactNo()" type="text" placeholder="Enter mobile number" name="altmobile" [(ngModel)]='contact.mobileNumber2' />
                                                       </div>
                                                    </div>
                                                  
                                              </li>
                                             <!-- Popup Solution 5 -->
                                             <!-- Popup Solution 5 -->
                                             <li>
                                                 
                                                   <div class="item-inner" style="border-bottom: 1px solid rgb(217, 217, 217)">
                                                      <div class="item-title-row">
                                                         <div class="item-title">Landline Number</div>
                                                      </div>
                                                      <div class="item-text" style="margin-top: 20px;">
                                                            <input (blur)="_updateLandLineNumber()" type="text" placeholder="Enter landline number" name="landline"  [(ngModel)]='contact.landline'/>
                                                      </div>
                                                   </div>
                                                
                                             </li>
                                             <!-- Popup Solution 5 -->
                                              
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                              </div> 
                        </div>
                     </div>
                  </div>
                  <!-- Tabs, tabs wrapper -->
               </div>
            </div>
         </div>
      </div>