<div class="views">
    <!-- Your main view, should have "view-main" class -->
    <div class="view view-main">
        <div class="pages">
            <div data-page="personal-popup-details" class="page navbar-fixed">
               <div class="navbar">
                  <div class="navbar-inner">
                     <div class="left"><a (click)="goBack()" class="back link"> <i class="icon icon-back"></i></a></div>
                     <div class="center fg-white">Personal Details</div>
                     <div class="right">
                        <!-- Right link contains only icon - additional "icon-only" class-->
                        <a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
                     </div>
                  </div>
               </div>
               <div class="content-block">
                  
                    <div class="page-content">
                        <div class="list-block">
                            <ul>
                             
                            <li>
                                <!-- Smart select, will be opened in Popup -->
                                <a href="#" class="item-link smart-select" data-open-in="popup" >
                                    <!-- select -->
                                    <select name="Marital Status"  name="usename" [(ngModel)]='personalDetail.maritalStatus' (change)="onMaritalStatusChange()" >
                                        <option value="NEVERMARRIED" selected>Never Married</option>
                                        <option value="AWAITINGDIVORCE">Awaiting Divorce</option>
                                        <option value="DIVORCED">Divorced</option> 
                                        <option value="WINDOWED">Widow/Widower</option>
                                    </select>
                                    <div class="item-content">
                                        <div class="item-inner">
                                        <!-- Select label -->
                                        <div class="item-title">Marital Status</div>
                                        <!-- Selected value, not required -->
                                        <div class="item-after">{{personalDetail.maritalStatus | titlecase}}</div>
                                        </div>
                                    </div>
                                </a>
                            </li> 
                            <li>
                                <!-- Smart select, will be opened in Popup -->
                                <a href="#" class="item-link smart-select" data-open-in="popup">
                                   <!-- select -->
                                   <select name="Specify your Diet" [(ngModel)]='personalDetail.habit' (change)="onhabitChange()">
                                      <option value="NONVEGETARIAN">Non Vegetarian</option>
                                      <option value="JAIN">Jain</option>
                                      <option value="EGGETARIAN">Eggetarian</option>
                                      <option value="VEGETARIAN"  >Vegetarian</option>
                                      <option value="NA"  >Dont want to disclose</option>
                                   </select>
                                   <div class="item-content">
                                      <div class="item-inner">
                                         <!-- Select label -->
                                         <div class="item-title">Specify your Diet</div>
                                         <!-- Selected value, not required -->
                                         <div class="item-after">{{personalDetail.habit | titlecase}}</div>
                                      </div>
                                   </div>
                                </a>
                             </li>
                            <li>
                                <!-- Smart select, will be opened in Popup -->
                                <a href="#" class="item-link smart-select" data-open-in="popup">
                                    <!-- select -->
                                    <select name="Eye Color"  [(ngModel)]='personalDetail.eyeColor'
                                    (change)="onEyeColorChange()" >
                                        <option value="Amber">Amber</option>
                                        <option value="Black">Black</option>
                                        <option value="Blue">Blue</option>
                                        <option value="Brown" selected>Brown</option>
                                        <option value="Green">Green</option>
                                        <option value="Gray">Gray</option>
                                        <option value="Hazel">Hazel</option>
                                        <option value="Other">Other</option>
                                    </select>
                                    <div class="item-content">
                                        <div class="item-inner">
                                        <!-- Select label -->
                                        <div class="item-title">Eye Color</div>
                                        <!-- Selected value, not required -->
                                        <div class="item-after">{{personalDetail.eyeColor | titlecase}}</div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            </ul>
                        </div>
                        <div class="list-block">
                            <ul>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">Date of Birth</div>
                                        <div class="item-input">
                                        <input type="date" (blur)="onDOBChange()" placeholder="Birth day" [(ngModel)]="personalDetail.dob">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            </ul>
                        </div>
                    </div>                   
                  <!-- Tabs, tabs wrapper -->
               </div>
            </div>
         </div>
       </div>
    </div>
 