<div class="views">
    <!-- Your main view, should have "view-main" class -->
    <div class="view view-main">
        <div class="pages">
            <div data-page="popup1-now" class="page navbar-fixed">
               <div class="navbar">
                  <div class="navbar-inner">
                     <div class="left"><a (click)="goBack()" class="back link"> <i class="icon icon-back"></i></a></div>
                     <div class="center fg-white">Ethnicity</div>
                     <div class="right">
                        <!-- Right link contains only icon - additional "icon-only" class-->
                        <a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
                     </div>
                  </div>
               </div>
               <div class="content-block">
                  <div class="page-content">
                     <div class="list-block">
                        <ul>
                           <li>
                                 <!-- Smart select, will be opened in Popup -->                               
                                 <div class="item-content">
                                    <div class="item-inner">
                                       <!-- Select label -->
                                       <div class="item-title">Gotra</div>
                                       <!-- Selected value, not required -->
                                       <div class="item-after">
                                           <input type='text' name="gotra" placeholder="gotra" [(ngModel)]='ethinicity.gotra' (blur)="_onGotraChange()" />
                                       </div>
                                    </div>
                                 </div>
                               
                           </li>
                           <li>
                               
                                 <div class="item-content">
                                    <div class="item-inner">
                                       <!-- Select label -->
                                       <div class="item-title">Gotra Save</div>
                                       <!-- Selected value, not required -->
                                       <div class="item-after">
                                            <input type='text' name="gotraToSave" (blur)="_onGotraToSaveChange()" placeholder="gotra to save" [(ngModel)]='ethinicity.gotraToSave' />
                                       </div>
                                    </div>
                                 </div>
                              
                           </li>
                           <li>
                                 
                                 <div class="item-content">
                                    <div class="item-inner">
                                       <!-- Select label -->
                                       <div class="item-title">Caste</div>
                                       <!-- Selected value, not required -->
                                       <div class="item-after">
                                            <input type='text' name="caste" (blur)="_onCasteChange()"  placeholder="caste" [(ngModel)]='ethinicity.caste'/>
                                       </div>
                                    </div>
                                 </div>
                               
                           </li>
                        </ul>
                     </div>
                  </div>
                  <!-- Tabs, tabs wrapper -->
               </div>
            </div>
         </div>          
    </div>
</div>  