<div class="views">
    <!-- Your main view, should have "view-main" class -->
    <div class="view view-main">
        <div class="pages">
            <div data-page="Family Values" class="page navbar-fixed">
               <div class="navbar">
                  <div class="navbar-inner">
                     <div class="left"><a (click)="goBack()" class="back link"> <i class="icon icon-back"></i></a></div>
                     <div class="center fg-white">Family Values</div>
                     <div class="right">
                        <!-- Right link contains only icon - additional "icon-only" class-->
                        <a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
                     </div>
                  </div>
               </div>
               <div class="content-block">
                  <div class="page-content">
                     <div class="list-block">
                        <ul>
                           <li>
                              <!-- Smart select, will be opened in Popup -->
                              <a href="#" class="item-link smart-select" data-open-in="popup">
                                 <!-- select -->
                                 <select name="Family Status" [(ngModel)]='familyValues.familyStatus'>
                                    <option value="RICH">Rich</option>
                                    <option value="MIDDLECLASS">Middle Class</option>
                                    <option value="UPPERMIDDLECLASS" >Upper Middle Class</option>
                                    <option value="LOWERMIDDLECLASS" >Lower Middle Class</option>
                                    <option value="POOR" >Poor</option>
                                    <option value="NOTAPPLICABLE" >Not Applicable</option>
                                 </select>
                                 <div class="item-content">
                                    <div class="item-inner">
                                       <!-- Select label -->
                                       <div class="item-title">Family Status</div>
                                       <!-- Selected value, not required -->
                                       <div class="item-after">{{familyValues.familyStatus | titlecase}}</div>
                                    </div>
                                 </div>
                              </a>
                           </li>
                           <li>
                              <!-- Smart select, will be opened in Popup -->
                              <a href="#" class="item-link smart-select" data-open-in="popup">
                                 <!-- select -->
                                 <select name="Family Values" [(ngModel)]='familyValues.familyValue'>
                                    <option value="CONCERVATIVE">Concervative</option>
                                    <option value="MODERATE">Moderate</option>
                                    <option value="ORTHODOX">Orthodox</option>
                                    <option value="LIBERAL" >Liberal</option>
                                    <option value="NOTAPPLICABLE" >Not Applicable</option>
                                 </select>
                                 <div class="item-content">
                                    <div class="item-inner">
                                       <!-- Select label -->
                                       <div class="item-title">Family Values</div>
                                       <!-- Selected value, not required -->
                                       <div class="item-after">{{familyValues.familyValue | titlecase}}</div>
                                    </div>
                                 </div>
                              </a>
                           </li>
                           <li>
                              <!-- Smart select, will be opened in Popup -->
                              <a href="#" class="item-link smart-select" data-open-in="popup">
                                 <!-- select -->
                                 <select name="Family Type" [(ngModel)]='familyValues.familyType'>
                                    <option value="JOINTFAMILY" >Joint family</option>
                                    <option value="NUCLEARFAMILY">Nuclear family</option>
                                    <option value="OTHERS">Others</option>
                                    <option value="NOTAPPLICABLE">Not Applicable</option>
                                 </select>
                                 <div class="item-content">
                                    <div class="item-inner">
                                       <!-- Select label -->
                                       <div class="item-title">Family Type</div>
                                       <!-- Selected value, not required -->
                                       <div class="item-after">{{familyValues.familyType | titlecase}}</div>
                                    </div>
                                 </div>
                              </a>
                           </li>
                           <li>
                              <!-- Smart select, will be opened in Popup -->
                              <a href="#" class="item-link smart-select" data-open-in="popup">
                                 <!-- select -->
                                 <select name="Married-S" [(ngModel)]='familyValues.livingWithParants'>
                                    <option value="4242" selected>Yes</option>
                                    <option value="42452">No</option>
                                    <option value="58786">Not Applicable</option>
                                 </select>
                                 <div class="item-content">
                                    <div class="item-inner">
                                       <!-- Select label -->
                                       <div class="item-title">Living with Parents ?</div>
                                       <!-- Selected value, not required -->
                                       <div class="item-after">{{familyValues.livingWithParants}}</div>
                                    </div>
                                 </div>
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <!-- Tabs, tabs wrapper -->
               </div>
            </div>
         </div>
      </div>
</div>