<div class="views">
    <!-- Your main view, should have "view-main" class -->
    <div class="view view-main"> 
            <div class="pages">
                    <div data-page="Parent Details" class="page navbar-fixed">
                       <div class="navbar">
                          <div class="navbar-inner">
                             <div class="left"><a (click)="goBack()" class="back link"> <i class="icon icon-back"></i></a></div>
                             <div class="center fg-white">Parent Details</div>
                             <div class="right">
                                <!-- Right link contains only icon - additional "icon-only" class-->
                                <a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
                             </div>
                          </div>
                       </div>
                       <div class="content-block">
                          <div class="page-content">
                             <div class="list-block">
                                <ul>
                                   <li>                                                                
                                      <div class="item-content">
                                         <div class="item-inner">
                                            <!-- Select label -->
                                            <div class="item-title">Father Name</div>
                                             <!-- Selected value, not required -->
                                             <div class="item-after">
                                                 <input type="text" name='father' [(ngModel)]='father.name' placeholder="Enter your father name"/>
                                             </div>
                                          </div>
                                        </div>
                                      </li>     
                                   <li>
                                      <!-- Smart select, will be opened in Popup -->
                                      <a href="#" class="item-link smart-select" data-open-in="popup">
                                         <!-- select -->
                                         <select name="Father is"  [(ngModel)]='father.occupation'>
                                            <option value="BUSSINESS" selected>Business Person</option>
                                            <option value="PRIVATE">Service - Private</option>
                                            <option value="GOVERNAMENT">Service - Govt</option>
                                            <option value="ARMY">Army - Armed Force</option>
                                            <option value="CIVIL">Civil Services</option>
                                            <option value="RETIRED">Retired</option>
                                            <option value="NOTEMPLOYED">Not Employed</option>
                                            <option value="EXPIRED">Expired</option>
                                            <option value="FARMER">Farmer</option>
                                            <option value="OTHERS">Other</option>
                                             
                                         </select>
                                         <div class="item-content">
                                            <div class="item-inner">
                                               <!-- Select label -->
                                               <div class="item-title">Father is</div>
                                               <!-- Selected value, not required -->
                                               <div class="item-after">{{father.occupation | titlecase}}</div>
                                            </div>
                                         </div>
                                      </a>
                                   </li>
                                   <li>                                                                
                                      <div class="item-content">
                                          <div class="item-inner">
                                              <!-- Select label -->
                                              <div class="item-title">Father Name</div>
                                              <!-- Selected value, not required -->
                                              <div class="item-after">
                                                   <input type="text" (blur)="_updateMotherName()" name="mother" placeholder="Enter your mother name" [(ngModel)]='mother.name' />
                                              </div>
                                           </div>
                                      </div>
                                   </li>
                                   <li>
                                      <!-- Smart select, will be opened in Popup -->
                                      <a href="#" class="item-link smart-select" data-open-in="popup">
                                         <!-- select -->
                                         <select name="occupation" (change)="_updateMotherOccupation()" [(ngModel)]='mother.occupation'>
                                            
                                            <option value="HOUSEWIFE" selected>Home Maker</option>
                                            <option value="BUSSINESS">Business Person</option>
                                            <option value="PRIVATE">Service - Private</option>
                                            <option value="GOVERNAMENT">Service - Govt</option>
                                            <option value="ARMY">Army - Armed Force</option>
                                            <option value="CIVIL">Civil Services</option>                                            
                                            <option value="TEACHER">Teacher</option>
                                            <option value="RETIRED">Retired</option>
                                            <option value="FARMER">Farmer</option>
                                            <option value="5'5">Expired</option>                                            
                                         </select>
                                         <div class="item-content">
                                            <div class="item-inner">
                                               <!-- Select label -->
                                               <div class="item-title">Mother is</div>
                                               <!-- Selected value, not required -->
                                               <div class="item-after">{{mother.occupation | titlecase}}</div>
                                            </div>
                                         </div>
                                      </a>
                                   </li>
                                   <li>
                                      
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <!-- Select label -->
                                           <div class="item-title">Family Income</div>
                                               <!-- Selected value, not required -->
                                            <div class="item-after">
                                                <input type="text" placeholder="Family Income" name="familyincome" [(ngModel)]='income' />
                                            </div>
                                        </div>
                                    </div>
                                      
                                   </li>
                                </ul>
                             </div>
                          </div>
                          <!-- Tabs, tabs wrapper -->
                       </div>
                    </div>
                 </div>
            
    </div>
 </div>