<div class="views">
    <!-- Your main view, should have "view-main" class -->
    <div class="view view-main">
		<div class="pages">
		   <div data-page="edit-profile" class="page navbar-fixed">
			  <div class="navbar">
				 <div class="navbar-inner">
					<div class="left"><a (click)="goBack()" class="back link"> <i class="icon icon-back"></i></a></div>
					<div class="center fg-white">Profile View</div>
					<div class="right">
					   <!-- Right link contains only icon - additional "icon-only" class-->
					   <a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
					</div>
				 </div>
			  </div>
			  <!-- Toolbar has additional "toolbar-bottom" class -->
			  <div class="page-content">
				 <div class="guneet-personal-class-editor">
					<div class="swiper-custom">
					   <div class="swiper-container swiper-retro" >
						  <div class="swiper-wrapper">
							 <div class="swiper-slide">
								<div class="first-slider-head-sj">
								   <div class="footer-flex-sj-2546">
									  <div class="flexy-3-sj-1524 footer-matri-flex-oyod-1 pp-prev"  (click)="redirect('contact')">Contact</div>
									  <div class="flexy-3-sj-1524 footer-matri-flex-oyod">Partner</div>
									  <div class="flexy-3-sj-1524 footer-matri-flex-oyod-1"></div>
								   </div>
								</div>
								<div class="white-triangle-sj"></div>
								<div class="content-block custom-list-wedding">
								   <div class="button-scrolling-sikhjodi">
									  <div class="textorial-sup">
										 Also send me the matches outside my desired partner profile.
									  </div>
									  <div class="button-boxery-two">
										 <label class="label-switch">
											<input type="checkbox">
											<div class="checkbox"></div>
										 </label>
									  </div>
								   </div>
								   <div class="button-scrolling-sikhjodi-2is">
									  <div class="textorial-sup">
										 Manage Strict Filters to all my saved desired criteria for selection.
									  </div>
									  <div class="button-boxery-two">
										 <label class="label-switch">
											<input type="checkbox">
											<div class="checkbox"></div>
										 </label>
									  </div>
								   </div>
								   <div class="button-scrolling-sikhjodi-2is">
									  <div class="santana-ke-bantana">
										 <a href="#" class="item-link item-content pp-basicd">
											<div class="item-inner"></div>
											<div class="item-maaldar-hai-aerrow"><img src="http://via.placeholder.com/1920x931?text=greater&dataimage-2546.svg" height="20" width="20"></div>
											<div class="item-title-row">
											   <div class="item-title">Basic Details</div>
											</div>
											<div class="item-text">Age | Height | Country | City | Maritial Status |</div>
										 </a>
									  </div>
								   </div>
								   <div class="button-scrolling-sikhjodi-2is">
									  <div class="santana-ke-bantana">
										 <a href="ethnicity.html" class="item-link item-content">
											<div class="item-inner"></div>
											<div class="item-maaldar-hai-aerrow"><img src="http://via.placeholder.com/1920x931?text=greater&dataimage-2546.svg" height="20" width="20"></div>
											<div class="item-title-row">
											   <div class="item-title">Religion & Ethinicity</div>
											</div>
											<div class="item-text">Religion | Caste | Mother Toungue | Manglik Status |</div>
										 </a>
									  </div>
								   </div>
								   <div class="button-scrolling-sikhjodi-2is">
									  <div class="santana-ke-bantana">
										 <a href="#" class="item-link item-content pp-educatione">
											<div class="item-inner"></div>
											<div class="item-maaldar-hai-aerrow"><img src="http://via.placeholder.com/1920x931?text=greater&dataimage-2546.svg" height="20" width="20"></div>
											<div class="item-title-row">
											   <div class="item-title">Education & Occupation</div>
											</div>
											<div class="item-text">Degree | Education | Annual Income | About Career |</div>
										 </a>
									  </div>
								   </div>
								   <div class="button-scrolling-sikhjodi-2is">
									  <div class="santana-ke-bantana">
										 <a href="#" class="item-link item-content pp-lifestyle">
											<div class="item-inner"></div>
											<div class="item-maaldar-hai-aerrow"><img src="http://via.placeholder.com/1920x931?text=greater&dataimage-2546.svg" height="20" width="20"></div>
											<div class="item-title-row">
											   <div class="item-title">Lifestyle</div>
											</div>
											<div class="item-text">Dietary Habits | Smoking | Drinking | Complexion | Body Type |</div>
										 </a>
									  </div>
								   </div>
								</div>
							 </div> 
					   </div>
					</div>
				 </div>
				 <!-- Tabs, tabs wrapper -->
			  </div>
		   </div>
		</div>
	</div>